/* Navigation */

.navigation {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;

    background: rgba(14, 14, 15, .55);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    z-index: 1000;

}


/* Logo */

.logo img {

    width: 160px;
    display: block;

}


/* Menu Button */

.menu-toggle {

    background: none;
    border: none;
    cursor: pointer;

}

.menu-toggle img {

    width: 40px;
    display: block;

}


/* Side Menu */
.side-menu {

    position: fixed;

    top: 0;
    right: -420px;

    width: 420px;
    max-width: 80vw;

    height: 100vh;

    background: var(--bg);

    padding: 8rem 3rem;

    transition: right .45s ease;

    z-index: 1200;

}

.side-menu.open {

    right: 0;

}


/* Close Button */

.close-menu {

    position: absolute;

    top: 2rem;
    right: 2rem;

    background: none;
    border: none;

    cursor: pointer;

}

.close-menu img {

    width: 30px;
    height: auto;
    display: block;

    transition: transform .3s ease;

}

.close-menu:hover img {
    transform: rotate(90deg);
}


/* Links */

.menu-links {

    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.menu-link {

    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    text-decoration: none;
    color: var(--text);

}

.menu-text {

    position: relative;
    z-index: 2;

    font-size: 1.2rem;
    letter-spacing: .08em;

    padding: 1rem 2.5rem;

}

.menu-outline {

    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    opacity: 0;
    transform: scale(.95);
}

.menu-outline path {

    fill: none;
    stroke: var(--text);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;

    stroke-dasharray: var(--path-length);
    stroke-dashoffset: var(--path-length);

    transition: stroke-dashoffset .6s cubic-bezier(.22,1,.36,1);

}

.menu-outline svg{

    width:290px;
    height:87px;

}

.menu-link:hover .outline-svg path {
    stroke-dashoffset: 0;
}

.menu-link:hover .menu-outline {
    opacity: 1;
    transform: scale(1);
}


/* Overlay */

.overlay {

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, .35);

    opacity: 0;

    visibility: hidden;

    transition: .35s ease;

    z-index: 1100;

}

.overlay.show {

    opacity: 1;
    visibility: visible;

}